<div id="swatch-details">
  <div class="swatch-block swatch-block-detail-main">
    <div class="swatch-color swatch-color-detail" style.background ="#{{swatch}}"></div>
    <p>#{{swatch}}</p>
  </div>
  <div class="altSwatches">
    <div *ngFor= "let swatch of altColors" class="swatch-block swatch-block-detail-sub" (click)="open(swatch)">
      <div class="swatch-color swatch-color-detail-sub" style.background ="#{{swatch}}"></div>
      <p>#{{swatch}}</p>
    </div>
  </div>
</div>

<div class="footer" style="text-align:center">
  <button type="button" (click)="clear()">Clear</button>
</div>