#sidebar{
    background: #D6D8D7;
    padding: 20px;
}
.row {
    height: 100%;
}
.navbar {
    background: #363C3C;
}

#side-button-div{
    text-align: center;
}
#side-button-div{
    margin: auto;
}
#nav-search{
    float: right;
    margin-top: 10px;
}