<nav class="navbar navbar-fixed-top">
    <div class="justify-content-end">
        <img src="../assets/images/logo-symbol.svg" alt="Helpful Human Logo" (click)="home()">
        <input id="nav-search" type="text"  placeholder="Search">
    </div>
</nav>
<div class="row">
  <div class="col-md-2 col-s-4" id="sidebar">
      <div id="side-button-div">
            <button (click)="randomColor()">Random Color</button>
      </div>
      <ul>
        <li>Orange</li>
        <li>Yellow</li>
        <li>Green</li>
        <li>Blue</li>
        <li>Purple</li>
        <li>Brown</li>
        <li>Gray</li>              
      </ul>
  </div>
  <div class="col-md-10 col-s-8">
      <router-outlet></router-outlet>
  </div>
</div>



