/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.google.com/specimen/Source+Serif+Pro');
*{
    font-family: 'Source Serif Pro'     !important;
}
html,body { 
    height:100%; 
}

.modal-footer{
    justify-content: center;
}

.list, .altSwatches {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.swatch-block{
    border-radius: 10px; 
    text-align: left;
    min-width: 100px;
    margin: .6vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swatch-block p {
    padding-left: 20px;
    vertical-align: middle;
    display: inline-block;
    font-size: 100%;
}

.swatch-block-list {
    width: 21%;
    height: 15%;
}

.swatch-block-detail-main, button{
    border: 1px solid #363C3C;
}

.swatch-block-detail-sub{
    width: 15%;
    height: 15%;
}

.swatch-color{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    height: 20vh;
}

.swatch-color-detail{
    height: 35vh;
}

.swatch-color-detail-sub{
    height: 20vh;
}

button, #nav-search  {
    border-radius: 6px;
}
button{
    padding: 0px 20px;
}
ul {
    padding: 0;
    list-style-type: none;
}

@media only screen and (max-width: 767px) {
    li {
      text-align: center;
      display: inline;
      width: 100%;
    }
    ul {
      display: flex;
    }
  }